<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
     https://msdn.microsoft.com/en-us/library/dx0f3cf2(v=vs.85).aspx
     https://www.codeproject.com/Tips/795135/Encrypt-ConnectionString-in-Web-Config
     https://blogs.msdn.microsoft.com/gaurav/2013/12/15/encrypting-section-of-config-file-using-aspnet_regiis-exe-the-configuration-for-physical-path-web-config-cannot-be-opened/
     Problem: aspnet_regiis encrypts only web.config files
     Solution: A bit of copying ...
     copy app.config to web.config 
     aspnet_regiis -pef connectionStrings .
     copy web.config to app.config
  -->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>SzgKW7A+xHfZTa+lnPcgEn4EufsKgfHW0apIEjTARoiA1yzL+wJ/5Cjr45hzpob4oGC9nIeE32hrLmo8LOG3LROhzLJ6KMzTfhNwbgl0CqaOyr5sc976WhSthldoilznee13kczWfhuDOMqLjj24wLx4ufeT5Heo1Ck4ZtMrtzY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>smN5sykCrfcOZQQCnF0VDG8f0GDWai1wD2jPuBcgVOjgEmNAPm4X37aA6/om4mvpC0CoJw8GXeyrqZncBnIx0svvPshh7wNumj/cYw6z/So+j88uAKWcipDgXONXkQOVL5l1KG3mqDT1eDbsWthzoNAfiAJifW2yP4GYcgi6X4xvz2o1MM6xd8LuOBqvKUIvwIbuVdvIyB80AblzNwV/BdKnqo4NUgJUMWshow8+MF9322IcNE756RgXSMLPF7Ukurscv156zmfi1uUO2kqwCf3wLLOb/yas8IiF5bj3s4KoOrXhZBrUlGaiBgY+U1peipkvYDt5ccjd2A9vW+I1P7ocE78t538l0pxPlLCcTkfUwzGdNfsKyTsetjFa+nF+ZzlMfNhgsjnJ9u+TdBqUw/wFmn4wZY2l+w2stLnEMBfd7lF1GWQPme6uCpd1NIlwYcPolIjM1y8=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>